*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  box-sizing: border-box;
  background-color: rgb(192, 230, 245);
  margin: 0 auto;
  width: 120rem;
}
.container {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 5rem);
}
.items {
  background-color: aqua;
  margin-bottom: 1rem;
}
.item-1 {
  background-color: red;
  grid-row: 1/2;
  grid-column: 1/5;
}
.item-2 {
  background-color: blue;
  grid-row: 1/2;
  grid-column: 5/-1;
}
.item-3 {
  background-color: green;
  grid-row: 2/3;
  grid-column: 1/8;
}
.item-4 {
  background-color: blue;
  grid-row: 2/3;
  grid-column: 8/-1;
}
.item-5 {
  background-color: red;
  grid-row: 3/4;
  grid-column: 1/2;
}
.item-6 {
  background-color: green;
  grid-row: 3/4;
  grid-column: 2/8;
}
.item-7 {
  background-color: blue;
  grid-row: 3/4;
  grid-column: 8/-1;
}
.item-8 {
  background-color: red;
  grid-row: 4/5;
  grid-column: 1/8;
}
.item-9 {
  background-color: blue;
  grid-row: 4/5;
  grid-column: 8/-1;
}
.item-10 {
  background-color: green;
  grid-row: 5/6;
  grid-column: 1/-1;
  z-index: 10;
}

.item-11 {
  background-color: red;
  grid-row: 5/6;
  grid-column: 5/6;
  z-index: 120;
}
.item-12 {
  background-color: red;
  grid-row: 6/7;
  grid-column: 1/-1;
  z-index: 10;
}
.item-13 {
  background-color: blue;
  grid-row: 6/7;
  grid-column: 5/6;
  z-index: 120;
}
.item-14 {
  background-color: red;
}
.item-15 {
  background-color: blue;
}
.item-16 {
}
.item-17 {
}
.item-18 {
}
